@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap'); /* Corretto l'URL per il font */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-size: cover;
    background: #e9e9e9 no-repeat center;
}

a, button, label {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #f6f6f6;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    cursor: pointer;
    max-height: 110px;
    margin-top: 15px;
}

.search {
    --padding: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f5c33b;
    margin: 0 auto;
}

.search-input {
    font-family: "Prompt", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.9);
}

.cta {
    display: flex;
    gap: 20px;
}

.cta a {
    transition: all 0.3s ease 0s;
}

.cta a:hover {
    color: #f5c33b;
}

button {
    padding: 7px 20px;
    background-color: rgba(245, 195, 59, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(245, 195, 59, 0.8);
}
