@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, button, label {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #f6f6f6;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    cursor: pointer;
    max-height: 110px;
    margin-top: 15px;
}

.search {
    --padding: 10px;
    width: 500px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f5c33b;
    margin: 0 auto;
    position: relative; /* Ensures suggestions are positioned relative to this container */
}

.search-input {
    font-family: "Prompt", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.9);
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - var(--padding) * 2); /* Adjust width to align with search box */
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto; /* Allows scrolling if suggestions exceed max-height */
    background: #f5c33b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10; /* Ensure it appears above other content */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    color: #333;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.suggestion-item:hover {
    background-color: rgba(245, 195, 59, 0.8);
}

.suggestion-item:last-child {
    border-bottom: none;
}

.cta {
    display: flex;
    gap: 10px;
}

.cta a {
    transition: all 0.3s ease 0s;
}

.cta a:hover {
    color: #f5c33b;
}

button {
    padding: 7px 20px;
    background-color: rgba(245, 195, 59, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(245, 195, 59, 0.8);
}

button.cart-button {
    margin-right: 5px;
}

button.login-button {
    margin-left: 5px;
}
